# Ignorar archivos de compilación de C++
*.o
*.exe
*.dll
*.so
*.dSYM

# Ignorar archivos de configuración de IDE
.idea/
.vs/
*.user
*.sln
*.vcxproj*

# Ignorar archivos de log
*.log

# Ignorar directorios de construcción
cmake-build-debug/
build/
